<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Edit an item ...</h1>



    <form method="post" action="/edit">
        <input type="text" name="item" value="{{item}}" />
        <input type="hidden" name="olditem" value="{{item}}" />
        <input type="submit" />
    </form>
</body>

</html>
